<div class="app-container">
  <div class="sidebar">
    <ul class="menu">
      <li>
        <a routerLink="/home" routerLinkActive="active">
          <mat-icon fontIcon="home" class="icon"></mat-icon>
          <label>Home</label>
        </a>
      </li>
      <li>
        <a routerLink="/alerts" routerLinkActive="active">
          <mat-icon fontIcon="notifications" class="icon"></mat-icon>
          <label>Alerts</label>
        </a>
      </li>
      <li>
        <a routerLink="/signals" routerLinkActive="active">
          <mat-icon fontIcon="signal_cellular_alt" class="icon"></mat-icon>
          <label>Signals</label>
        </a>
      </li>
    </ul>
  </div>

  <div class="main">
    <div class="header">
      <div>
        <div class="app-logo">
          <h1>Alerts app</h1>
        </div>
      </div>
      <div>
        <button mat-stroked-button (click)="openCreateAlertDialog()">
          <mat-icon>add</mat-icon>
          <label>Create an alert</label>
        </button>
        <div class="notification-container">
          <mat-icon tabindex="0" fontIcon="notifications" class="notif" (click)="displayNotifs()" (tap)="displayNotifs()"></mat-icon>
          <div class="notifs-nbr" *ngIf="getNotificationsUnRead() > 0">
            <p>{{getNotificationsUnRead()}}</p>
          </div>
          <ng-container>
            <div class="notification-box" id="notification-box">
              <div class="notification-box-wrapper" *ngIf="notifications?.length">
                <div class="mark-as-read">
                  <button mat-raised-button color="primary" (click)="markAllNotifAsRead()">
                    <mat-icon>check</mat-icon>
                    <label>Mark all as read</label>
                  </button>
                </div>
                <div class="lists">
                  <div class="notif-container" *ngFor="let notif of notifications" [ngClass]="!notif.isRead ? 'not-read' : ''">
                    <div class="datas" (click)="markAsRead(notif)">
                      <p>{{notif.date | date}}</p>
                      <p>{{notif.content}}</p>
                      <a [routerLink]="['/' + notif.url]">View</a>
                    </div>
                    <div>
                      <mat-icon fontIcon="close" class="close" (click)="deleteNotif(notif.id)"></mat-icon>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="notifications && !notifications.length">
                <p>No notifications at the moment</p>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
