<div class="home-container">
  <div class="home-boxes">
    <div class="left-part">
      <div class="welcome-box">
        <img src="assets/google-alerts-logo-8D260EAA55-seeklogo.com.png" alt="img">
        <div class="infos">
          <h2>Welcome to the Alerts Management Application!</h2>
          <div class="desc">
            <mat-icon fontIcon="infos" class="icon"></mat-icon>
            <p>The application allows you to create, manage, and monitor alerts associated with signals.</p>
          </div>
        </div>
      </div>
      <div class="infos-boxes">
        <div class="alerts-box infos-box" [routerLink]="['/alerts']">
          <p class="title">Currently, there are</p>
          <p class="number">{{alerts.length}}</p>
          <div class="is">
            <mat-icon fontIcon="notifications" class="icon"></mat-icon>
            alerts
          </div>
        </div>
        <div class="signals-box infos-box" [routerLink]="['/signals']">
          <div class="title">
            <p>Currently, there are</p>
          </div>
          <p class="number">{{signals.length}}</p>
          <div class="is">
            <mat-icon fontIcon="signal_cellular_alt" class="icon"></mat-icon>
            signals
          </div>
        </div>
      </div>
    </div>
    <div class="right-part">
      <div class="recent-signals">
        <h2>Recent Signals</h2>
        <div class="recent-signal" *ngFor="let signal of recentSignals">
          <p class="title">{{signal.signalName}}</p>
          <p class="desc">{{signal.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
