<h2 mat-dialog-title>{{isEdit ? 'Edit' : 'Create'}} an alert</h2>
<mat-dialog-content class="dialog">
  <div class="alert-dialog-container">
    <div class="form-container">
      <div *ngIf="isEdit">
        <mat-card>
          <mat-card-content>
            <p>Signal: <i>{{currentSignal.signalName}}</i></p>
            <p>Component: <i>{{currentSignal.component}}</i></p>
            <p>System: <i>{{currentSignal.system}}</i></p>
            <p>Sub-system: <i>{{currentSignal.subSystem}}</i></p>
            <p>Element: <i>{{currentSignal.element}}</i></p>
          </mat-card-content>
        </mat-card>
      </div>
      <mat-stepper orientation="vertical" [linear]="true" class="form-stepper" *ngIf="!isEdit">
        <form [formGroup]="createAlertFormGroup">
          <mat-step [completed]="!!createAlertFormGroup.controls.component.value">
            <ng-template matStepLabel>Component <span *ngIf="createAlertFormGroup.controls.component.value">{{' - ' + createAlertFormGroup.controls.component.value}}</span></ng-template>
            <mat-form-field>
              <mat-select (selectionChange)="onComponentSelected()" formControlName="component">
                <mat-option *ngFor="let v of components" [value]="v">{{v}}</mat-option>
              </mat-select>
            </mat-form-field>
            <div>
              <button mat-button matStepperNext [disabled]="!createAlertFormGroup.controls.component.value">Next</button>
            </div>
          </mat-step>
          <mat-step [completed]="!!createAlertFormGroup.controls.system.value">
            <ng-template matStepLabel>System <span *ngIf="createAlertFormGroup.controls.system.value">{{' - ' + createAlertFormGroup.controls.system.value}}</span></ng-template>
            <mat-form-field>
              <mat-select (selectionChange)="onSystemSelected()" formControlName="system">
                <mat-option *ngFor="let v of system" [value]="v">{{v}}</mat-option>
              </mat-select>
            </mat-form-field>
            <div>
              <button mat-button matStepperNext [disabled]="!createAlertFormGroup.controls.system.value">Next</button>
            </div>
          </mat-step>
          <mat-step [completed]="!!createAlertFormGroup.controls.subSystem.value">
            <ng-template matStepLabel>Sub-system <span *ngIf="createAlertFormGroup.controls.subSystem.value">{{' - ' + createAlertFormGroup.controls.subSystem.value}}</span></ng-template>
            <mat-form-field>
              <mat-select (selectionChange)="onSubSystemSelected()" formControlName="subSystem">
                <mat-option *ngFor="let v of subSystem" [value]="v">{{v}}</mat-option>
              </mat-select>
            </mat-form-field>
            <div>
              <button mat-button matStepperNext [disabled]="!createAlertFormGroup.controls.subSystem.value">Next</button>
            </div>
          </mat-step>
          <mat-step [completed]="!!createAlertFormGroup.controls.element.value">
            <ng-template matStepLabel>Element <span *ngIf="createAlertFormGroup.controls.element.value">{{' - ' + createAlertFormGroup.controls.element.value}}</span></ng-template>
            <mat-form-field>
              <mat-select formControlName="element">
                <mat-option *ngFor="let v of element" [value]="v">{{v}}</mat-option>
              </mat-select>
            </mat-form-field>
          </mat-step>
        </form>
      </mat-stepper>
      <div class="form-threshold">
        <form [formGroup]="createAlertFormGroup">
          <mat-form-field>
            <mat-label>Min</mat-label>
            <input matInput type="number" formControlName="min">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Max</mat-label>
            <input matInput type="number" formControlName="max">
          </mat-form-field>
        </form>
      </div>

      <mat-error *ngIf="createAlertFormGroup.controls.max.errors?.['minGreaterThanMax']">
        The maximum value must be greater than the minimum value.
      </mat-error>
    </div>

    <div class="form-part-2">
      <ul *ngIf="!isEdit">
        <li>Choose a component.</li>
        <li>Select a system related to the chosen component.</li>
        <li>Choose a specific sub-system.</li>
        <li>Select the element.</li>
        <li>Set the lower and upper thresholds for the alert.</li>
        <li>Click 'Create Alert' to save.</li>
      </ul>
      <ul *ngIf="isEdit">
        <li>Set the lower and upper thresholds for the alert.</li>
        <li>Click 'Edit Alert' to save.</li>
      </ul>
      <div *ngIf="!isEdit" class="form-auto">
        <mat-icon fontIcon="warning" class="icon"></mat-icon>
        <p>Warning, the form elements are updated based on the chosen responses!</p>
      </div>
    </div>
  </div>


</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" [disabled]="createAlertFormGroup.invalid" (click)="createAlert()" *ngIf="!isEdit">Create Alert</button>
  <button mat-raised-button color="primary" (click)="updateAlert()" *ngIf="isEdit">Edit Alert</button>
</mat-dialog-actions>
